
.banner {
background: url("banner.png") no-repeat center center;
background-size: cover;
width: 100%;
padding-top: 12rem;
padding-bottom: 14rem;
text-align: center !important;
color: white !important;
}
div a{text-decoration: none;}
div a:hover{color:red;}
.slogan{
background-color: rgb(248,249,250) !important;
text-align: center !important;
width: 100%;
padding-right: 0.5rem;
padding-left: 3rem;
padding-top: 7rem;
padding-bottom: 7rem;
}
.row {
display: flex;
flex-wrap: wrap;
margin-top: -1;
max-width: 100%;
padding-right: 3rem;
padding-left: 3rem;
}
.block_3 {
flex: 0 0 auto;
width: 33.33333333%;
}
.block_3 a {
text-decoration: none;
color: white;
}
.content{
background-color: white !important;
text-align: center !important;
width: 100%;
padding-right: 0.5rem;
padding-left: 3rem;
padding-top: 7rem;
padding-bottom: 7rem;
}
.block_2 {	
flex: 0 0 auto;
width: 50%;	
}
.footer{
background-color: black !important;
text-align: center !important; color: white;
width: 100%;
height: 120px;
padding-top: 1px;	
}
.footer a:hover{color: red;}
